<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- External CSS -->
    <link href="https://fonts.googleapis.com/css?family=Knewave&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap&subset=cyrillic,hebrew,latin-ext,vietnamese" rel="stylesheet">
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
  <% include ./partials/_header %>
    <div class='container'>
    <div class='row'>
      <main class="col-9">

              <h2>Menu</h2>
              <%for(menu of menus){%>
                <div class="is-border order-container"  >
                <p class="is-font-item"><%=menu.name%></p>
                <p><%=menu.description%></p>
                 <p id = "<%=menu.id%>">Price: $<%=menu.price%></p>
                  <form>
                    <div class="form-check">
                      <button type="button" class="btn btn-success btn-circle" id = "add:<%=menu.id%>">+</button>
                      <button type="button" class="btn btn-success btn-circle" id = "remove:<%=menu.id%>">-</button>
                    </div>
                  </form>
              </div>
              <%}%>
              <button type="button" class="btn btn-default">Go Back</button>
      </main>

      <form class="col" id ="result">
          <a href="/" class="btn btn-primary">Order Now</a>
      </form>
    </div>
    </div>
  <% include ./partials/_footer %>
  </body>
</html>
